.search-form {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #2C2F33;
  padding: 12px 24px;
  height: 64px;
  box-sizing: border-box;
  border-radius: 16px;
  color: #94979A;

  .input-icon {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 24px;

    input {
      width: 90%;
      background-color: transparent;
      border: none;
    }
  }
}

.profile-container {
  display: flex;
  align-items: center;
  gap: 8px;
}