<img class="logo-img" src="../../../assets/images/logo.png" alt="ravn-logo" />
<mat-nav-list>
  <mat-list-item [activated]="isRouteActive('/')" routerLink="/">
    <div [ngClass]="{'nav-link-item': true}">
      <app-custom-icons icon="grid_view"/>
      <a>DASHBOARD</a>
    </div>
  </mat-list-item>
  <mat-list-item [activated]="isRouteActive('/tasks')" routerLink="/tasks">
    <div [ngClass]="{'nav-link-item': true}">
      <app-custom-icons icon="menu"/>
      <a>MY TASK</a>
    </div>
  </mat-list-item>
</mat-nav-list>
