mat-card {
  background-color: #2c2f33;
  border-radius: 8px;
  padding: 16px;
}

.card-header {
  span {
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.75px;
    text-align: left;
  }

  button {
    border: none;
    background-color: transparent;
    color: #94979A;
  }
}

.card-header,
.task-info,
.mat-mdc-card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tags-info {
  display: flex;
  align-items: center;
  gap: 8px;
}

.mat-mdc-card-content:first-child {
  padding: 0;
}

.mat-mdc-card-content > :last-child:not(.mat-mdc-card-footer) {
  margin-bottom: 16px;
}

.task-comments {
  display: flex;
  align-items: center;
  gap: 16px;

  span {
    font-size: 15px;
  }
}