<mat-card>
  <mat-card-content>
    <div class="card-header">
      <span>{{ task.name }}</span>
      <button mat-fab extended>
        <app-custom-icons icon="more_horiz"></app-custom-icons>
      </button>
    </div>
    <p class="task-info">
      <span>{{ task.pointEstimate }} Points</span>
      <app-chips
        [item]="{
          type: 'date',
          hasIcon: true,
          iconName: 'alarm',
          content: task.dueDate,
          className: 'timer-tag'
        }"
      ></app-chips>
    </p>
    <div class="tags-info">
      @for (tag of task.tags; track $index) {
        <app-chips
        [item]="{
          type: 'text',
          content: tag,
          className: (tag | lowercase) + '-tag'
        }"/>
      }
    </div>
  </mat-card-content>
  <mat-card-footer>
    <app-avatar avatarUrl="https://avatars.dicebear.com/api/initials/gs.svg" />
    <div class="task-comments">
      <app-custom-icons svgIcon="attachement" />
      <div><span>5</span><app-custom-icons svgIcon="thread" /></div>
      <div><span>3</span><app-custom-icons svgIcon="comment" /></div>
    </div>
  </mat-card-footer>
</mat-card>
