<mat-card>
  <mat-card-content>
    <div class="card-header">
      <span class="body-large-bold">{{ task.name }}</span>
      <button mat-button [matMenuTriggerFor]="menu">
        <app-custom-icons icon="more_horiz" />
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openDialog()">
          <app-custom-icons icon="mode_edit_outline" />Edit
        </button>
        <button mat-menu-item (click)="deleteTask(task.id)">
          <app-custom-icons icon="delete_outline" />Delete
        </button>
      </mat-menu>
    </div>
    <p class="task-info">
      <span class="body-medium-bold"
        >{{ task.pointEstimate | lowercase | stringtonumber }} Points</span
      >
      <app-chips
        [item]="{
          type: 'date',
          hasIcon: true,
          iconName: 'alarm',
          content: task.dueDate,
          className: validDueDateStyle(task.dueDate)
        }"
      ></app-chips>
    </p>
    <div class="tags-info">
      @for (tag of task.tags; track $index) {
      <app-chips
        [item]="{
          type: 'text',
          content: tag,
          className: (tag | lowercase) + '-tag'
        }"
      />
      }
    </div>
  </mat-card-content>
  <mat-card-footer>
    <app-avatar [avatarUrl]="task.assignee.avatar" />
    <div class="task-comments">
      <app-custom-icons svgIcon="attachement" />
      <div><span>5</span><app-custom-icons svgIcon="thread" /></div>
      <div><span>3</span><app-custom-icons svgIcon="comment" /></div>
    </div>
  </mat-card-footer>
</mat-card>
