.mat-toolbar-single-row {
  height: 48px;
  margin-top: 32px;
  background-color: #222528;
  justify-content: space-between;
  padding: 0;
  
  button {
  height: 40px;
  width: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #ffffff;
  }

  .add-btn {
    background-color: #DA584B;
    border-radius: 8px;
  }
}

button.view-active {
  border: 1px solid #DA584B !important;
  border-radius: 8px;
  color: #DA584B !important;
}

.mat-mdc-fab:not(.mdc-fab--extended) {
  border-radius: 8px;
}