.mat-toolbar-single-row {
  height: 48px;
  margin-top: 32px;
  background-color: var(--neutral-5);
  justify-content: space-between;
  padding: 0;
  
  button {
  height: 40px;
  width: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--neutral-1);
  }

  .add-btn {
    background-color: var(--primary-4);
    border-radius: 8px;
  }
}

button.view-active {
  border: 1px solid var(--primary-4) !important;
  border-radius: 8px;
  color: var(--primary-4) !important;
}

.mat-mdc-fab:not(.mdc-fab--extended) {
  border-radius: 8px;
}