.custom-select-container {
  background-color: rgba(148, 151, 154, 0.1);
  min-width: 128px;
  height: 32px;
  padding: 4px 16px;
  color: var(--neutral-1); 
  box-sizing: border-box;

  .custom-select {
    display: flex;
    gap: 8px;
    border-radius: 4px;
    cursor: pointer;
  }

  .custom-options {
    background-color: #393D41;
    min-width: 128px;
    color: var(--neutral-1);
    position: fixed;
    z-index: 1;
    margin-left: -15px;
    border: 1px solid #94979A;
    border-radius: 8px;
    padding: 8px 0;
    text-align: center;
    cursor: pointer;
    max-height: 200px;
    overflow: scroll;

    .custom-option {
      display: flex;
      /* justify-content: center; */
      padding: 4px 16px;
      gap: 8px;
    }

    .body-extra-large-bold {
      color: #94979A;
    }
  }
}

