.chip-container {
  border-radius: 4px;
  padding: 4px 16px;
  height: 32px;
  display: flex;
  align-items: center;
  gap: 8px;
  box-sizing: border-box;
}

.on-time { 
  background-color: rgba(148, 151, 154, 0.1);
  color: var(--neutral-1);
}

.warning-time,
.android-tag { 
  background-color: rgba(229, 180, 84, 0.1);
  color: var(--tertiary-4);
}

.danger-time,
.rails-tag { 
  background-color: rgba(218, 88, 75, 0.1);
  color: var(--primary-4);
}

.ios-tag,
.node_js-tag  { 
  background-color: rgba(112, 178, 82, 0.1);
  color: var(--secondary-4);
}

.react-tag {
  background-color: rgba(48, 82, 148, 0.1);
  color: #396aa5
}