<div class="dashboard-container">
  <div class="column">
    <h2 class="column-header">Working ({{ workingTasks.length }})</h2>
    @for (task of workingTasks; track $index) {
      <app-card [task]="task" />
    }
  </div>
  <div class="column">
    <h2 class="column-header">In Progress ({{ inProgressTasks.length }})</h2>
    @for (task of inProgressTasks; track $index) {
      <app-card [task]="task" />
    }
  </div>
  <div class="column">
    <h2 class="column-header">Completed ({{ completedTasks.length }})</h2>
    @for (task of completedTasks; track $index) {
      <app-card [task]="task" />
    }
  </div>
</div>