<mat-dialog-content class="modal-container">
  <form [formGroup]="createTaskForm">
    <input
      matInput
      class="title-input"
      placeholder="Task Title"
      formControlName="title"
    />

    <div class="options-container">
      <app-custom-select
        type="icon-select"
        [label]="
          task?.pointEstimate
            ? (task!.pointEstimate | lowercase | stringtonumber) + ' Points'
            : 'Estimate'
        "
        [icon]="'estimate'"
        [options]="[
          { label: '0 Points', value: 'ZERO', icon: 'estimate' },
          { label: '1 Points', value: 'ONE', icon: 'estimate' },
          { label: '2 Points', value: 'TWO', icon: 'estimate' },
          { label: '4 Points', value: 'FOUR', icon: 'estimate' },
          { label: '8 Points', value: 'EIGHT', icon: 'estimate' }
        ]"
        [dropdownOpen]="dropdowns.estimate"
        (toggle)="toggleDropdown('estimate')"
        (select)="selectOption('estimate', $event)"
      >
      </app-custom-select>

      <app-custom-select
        type="avatar-select"
        [label]="task?.assignee?.fullName ?? 'Assignee'"
        [icon]="'assignee'"
        [options]="assigneesOptions"
        [dropdownOpen]="dropdowns.assignee"
        (toggle)="toggleDropdown('assignee')"
        (select)="selectOption('assignee', $event)"
      >
      </app-custom-select>

      <app-custom-select
        type="checkbox-select"
        [label]="task?.tags?.length ? (task?.tags)![0] : 'Label'"
        [icon]="'label'"
        [options]="[
          { label: 'IOS', value: 'IOS' },
          { label: 'ANDROID', value: 'ANDROID' },
          { label: 'NODE_JS', value: 'NODE_JS' },
          { label: 'REACT', value: 'REACT' },
          { label: 'RAILS', value: 'RAILS' }
        ]"
        [dropdownOpen]="dropdowns.label"
        (toggle)="toggleDropdown('label')"
        (select)="selectOption('label', $event)"
      >
      </app-custom-select>

      <app-custom-select
        type="datetime-select"
        [label]="task?.dueDate ?? currentDate"
        [icon]="'duedate'"
        (selectDate)="onDateChanged($event)"
      >
      </app-custom-select>
    </div>

    <div class="dialog-actions">
      <button mat-button mat-dialog-close>Cancel</button>
      <button
        mat-button
        class="create-btn"
        (click)="onSubmit()"
        [disabled]="!validFields()"
      >
        {{ task ? "Update" : "Create" }}
      </button>
    </div>
  </form>
</mat-dialog-content>
