/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  /* font-family: "SFProDisplay", Roboto, "Helvetica Neue", sans-serif; */
  font-family: "SFProDisplay";
  background-color: #222528;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url('assets/fonts/sf-pro-display/SFPRODISPLAYREGULAR.OTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}
