/* You can add global styles to this file, and also import other style files */
:root {
  --neutral-1: #ffffff;
  --neutral-2: #94979A;
  --neutral-3: #393D41;
  --neutral-4: #2C2F33;
  --neutral-5: #222528;
  --primary-2: #EBA59E;
  --primary-4: #DA584B;
  --secondary-4: #70B252;
  --tertiary-4: #E5B454;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  /* font-family: "SFProDisplay", Roboto, "Helvetica Neue", sans-serif; */
  font-family: "SFProDisplay";
  background-color: var(--neutral-5);
}

@font-face {
  font-family: "SFProDisplay";
  src: url("assets/fonts/sf-pro-display/SFPRODISPLAYREGULAR.OTF")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

.body-extra-large-bold {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.75px;
}

.body-large-bold {
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.75px;
}

.body-medium-bold {
  font-size: 15px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.75px;
}

.body-medium-regular {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.75px;
}
