<form class="search-form">
  <mat-form-field>
    <mat-icon
      aria-hidden="false"
      aria-label="search"
      fontIcon="search"
      matTextPrefix
    ></mat-icon>
    <input matInput placeholder="Search" />
  </mat-form-field>
  <div class="profile-container">
    <mat-icon
      aria-hidden="false"
      aria-label="notifications"
      fontIcon="notifications_none"
      matTextSuffix
    ></mat-icon>
    <img
      class="profile-avatar"
      src="https://xsgames.co/randomusers/avatar.php?g=pixel"
      alt="user-avatar"
    />
  </div>
</form>
